ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: rgb(144, 235, 238);
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  height: 165px;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
.flex-containerNav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 10px 0; /* Add padding on top (10px) and bottom (0) */
}
.flex-containerNav div {
  margin-right: 10px; /* Add horizontal spacing between the items */
}



.flex-container1 {
  flex-direction: inline;
}
